.background_container {
    width: 100%;
    background-color: #121212;
}

.side_bar {
    width: 25%;
}

input[type='range'] {
    -webkit-appearance: none;
    /* Removes default appearance for WebKit */
    appearance: none;
    width: 100%;
    /* Full width */
    background: transparent;
    /* No background */
}

/* Styling the track */
input[type='range']::-webkit-slider-runnable-track {
    background: white;
    border-radius: 0;
    /* No rounding, just a line */
    height: 2px;
    /* Line thickness */
}

input[type='range']::-moz-range-track {
    background: white;
    border-radius: 0;
    height: 2px;
}

input[type='range']::-ms-track {
    background: transparent;
    /* MS requires different handling */
    border-color: transparent;
    color: transparent;
    height: 2px;
}

/* Optionally, style the thumb to be more minimalistic */
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin-top: -6.5px;
    /* Adjust to align with the track */
}

input[type='range']::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}